{% extends "@User/layout.html.twig"%}
{% block dashbordContent %}


    <div
        class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>

        <!-- Icon Cards-->
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white  o-hidden h-100" style=" background-image: linear-gradient(to right, #1fa5dd , #1f5add);">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-newspaper"></i>
                        </div>
                        <div class="mr-5">
                            {% if articles is defined %}
                                {{articles | length}}
                            {% else %}
                                0
                            {% endif %}
                            Article(s)</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white  bg-primary o-hidden h-100" style=" background-image: linear-gradient(to right, #1fa5dd , #1f5add);">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-briefcase"></i>
                        </div>
                        <div class="mr-5">
                            {% if offresTravail is defined %}
                                {{offresTravail | length}}
                            {% else %}
                                0
                            {% endif %}
                            Offre(s) de travail</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-3">
                <div class="card text-white  o-hidden h-100" style=" background-image: linear-gradient(to right, #1fa5dd , #1f5add);">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fas fa-clone"></i>
                        </div>
                        <div class="mr-5">
                            ({{condidatures | length}})    candidature(s)</div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="#">
                        <span class="float-left">View Details</span>
                        <span class="float-right">
                            <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>


    </div>

</div>
<!-- /.content-wrapper --></div><!-- /#wrapper --><!-- Scroll to Top Button--><a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i></a><!-- Logout Modal--><div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="logoutModal" role="dialog" tabindex="-1">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
            <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
            <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
    </div>
</div>{% endblock %}
